/* General */
* {
    margin: 20pxpx;
    padding: 10px;
    box-sizing: border-box;
    color: rgb(40, 45, 49);
}

body {
    font-family: sans-serif;
    background-color: #a5a1a1;
}

button {
    color: white;
    background-color: transparent;
    font-size: 18px;
    border-radius: 7px;
    border: red 2px solid;
    padding: 10px 30px;
}

button:hover {
    border: white 2px solid;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 15px;
    color: red;
}

h3 {
    margin-bottom: 10px;
}

img {
    border-radius: 30px;
}

/* Navbar */

.navbar {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: rgb(252, 252, 252);
    z-index: 10;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar p {
    margin-right: 35px;
}

/* LANDING PAGE */

/* Introduccion */

.intro {
    background-image: linear-gradient(to bottom right, azure, azure, azure, rgb(184, 228, 255));
    display: flex;
    flex-basis: 1;
    justify-content: center;
    align-items: center;
}

.fotos-intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-intro {
    width: 65%;
    height: 65%;
    margin: auto;
}

.texto-intro {
    justify-content:
}

/* Que es? Nombre ozono */

.ozono{
    background-image: linear-gradient(to bottom left, rgb(184,228,255), azure, azure, azure);
}