/* General */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: sans-serif;
}

button {
    color: white;
    background-color: transparent;
    font-size: 18px;
    border-radius: 7px;
    border: red 2px solid;
    padding: 10px 30px;
}

button:hover {
    border: white 2px solid;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 15px;
    color: red;
}

h3 {
    margin-bottom: 10px;
}

img {
    border-radius: 30px;
}

li {
    color: white;
    text-decoration: none;
}

p {
    margin: 10px;
    color: black;
}

a {
    text-decoration: none;
}

/* Navbar */

.navbar {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    background-image: linear-gradient(to top, azure, rgb(184, 228, 255));
    z-index: 10;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar p {
    margin-right: 35px;
}

.navbar li {
    list-style: none;
}

.navbar a {
    text-justify: center;
    color: steelblue;
}

/* LANDING PAGE */

/* Introduccion */

.intro {
    padding: 10px;
    width: 100%;
    background-image: linear-gradient(to bottom right, azure, azure, azure, rgb(184, 228, 255));
    display: flex;
    flex-basis: 1;
    justify-content: center;
    align-items: center;
}

.fotos-intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-intro {
    width: 65%;
    height: 65%;
    margin: auto;
}

.texto-intro {
    text-align: justify;
    margin-right: 50px;
}

/* Que es? Nombre ozono */

.ozono {
    padding: 10px;
    background-image: linear-gradient(to bottom left, rgb(184,228,255), azure, azure, azure);
    display: flex;
    flex-basis: 1;
    justify-content: center;
    align-items: center;
}

.texto-ozono h1 {
    margin-top: 100px;
}

.fotos-ozono {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-ozono {
    width: 65%;
    height: 65%;
    margin: auto;
}

.texto-ozono {
    width: 50%;
    text-align: justify;
    margin-left: 50px;
}

.texto-ozono p {
    margin-bottom: 50px;
}

/* Aplicaciones */

.aplicaciones {
    padding: 10px;
    background-image: linear-gradient(to bottom right, azure, azure, azure, rgb(184, 228, 255));
}

.aplicaciones h1 {
    margin-top: 40px;
}

.intro-aplicaciones {
    text-align: center;
}

.aplicaciones-aplicaciones {
    margin: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    transition: 0.3s ease;
}

.aplicacion {
    flex: 1;
    transition: flex 0.3s ease;
    overflow: hidden;
    position: relative;
    height: 400px;
}

.aplicacion img {
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

.aplicacion h4 {
    position: absolute;
    align-self: center;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 16px;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.aplicacion p {
    display: none;
    position: absolute;
    bottom: 20px;
    padding: 0 20px;
    color: white;
}

.aplicacion.activa p {
    display: block;
    flex: 3;
    bottom: 40%;
    text-align: center;
    left: 0;
    right: 0;
}

.aplicacion.activa h4 {
    top: 20%;
    transform: translateX(-50%);
}

.aplicacion.activa img {
    filter: brightness(0.15);
}

.aplicacion.inactiva {
    flex: 0.1;
}

.aplicacion.inactiva h4 {
    writing-mode: vertical-rl;
    align-self: center;
    justify-self: center;
    width: auto;
}

.advertencia-aplicaciones {
    text-align: center;
}

/* Testimonios */

.testimonios {
    padding: 10px;
    background-image: linear-gradient(to bottom left, rgb(184,228,255), azure, azure, azure);
}

.testimonios h1 {
    justify-self: center;
    margin-top: 40px;
}

.testimonios h2 {
    color: white;
    margin-left: 50px;
}

.testimonios h3{
    margin-top: 20px;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}

.testimonios-cards {
    display: grid;
    margin: 20px;
    grid-template-columns: 1fr 1fr;
}

.testimonio {
    background-color: rgb(90, 163, 219);
    border-radius: 30px;
    margin: 20px;
    gap: 30px;
}

.testimonio1 {
    background-color: rgb(112, 158, 195);
    border-radius: 30px;
    margin: 20px;
    gap: 30px;
}


/* Certificados */

.certificados {
    padding: 10px;
    background-image: linear-gradient(to bottom right, azure, azure, azure, rgb(184, 228, 255));
}

.certificados h1 {
    text-align: center;
    margin-top: 40px;
}

.certificados p {
    margin-bottom: 50px;
}

/* Metodos */

.metodos {
    padding: 10px;
    background-image: url(img/seguridad.jpg);
}

.metodos h1 {
    color: white;
    text-align: center;
    margin-top: 40px;
}

.metodos1 {
    margin-left: 50px;
    margin-right: 50px;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    place-items: center;
}

.metodos2 {
    margin-left: 200px;
    margin-right: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    place-items: center;
}

.metodo {
    width: 200px;
    height: 300px;
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    align-self: center;
}

.metodo img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 180px;
    height: 180px;
}

.metodo h3 {
    text-align: center;
    color: white;
}

/* Seguridad */

.seguridad {
    padding: 10px;
    background-image: linear-gradient(to bottom right, azure, azure, azure, rgb(184, 228, 255));
}

.seguridad h1 {
    text-align: center;
    margin-top: 40px;
}

.seguridad p {
    margin-left: 250px;
    margin-right: 250px;
}

/* PAGINA DOCTORA */

/* Navbar */

.navbar-doc {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    position: sticky;
    top: 0;
    background-image: linear-gradient(to top, azure, rgb(184, 228, 255));
    z-index: 10;
}

.navbar-doc ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-doc p {
    margin-right: 35px;
}

.navbar-doc li {
    list-style: none;
}

.navbar-doc a {
    color: steelblue;
}

/* Motivacion */

.motivacion {
    background-image: linear-gradient(to top right, azure, rgb(207, 236, 255));
    padding: 10px;
}

.contenido-motiv {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    place-content: center;
}

.texto-motiv {
    width: 50%;
    align-content: center;
}

.fotos-motiv {
    width: 50%;
    text-align: center;
}

.motivacion img {
    height: 300px;
}

.motivacion p {
    text-align: justify;
}

/* Formacion */



/* Experiencia */



/* Enfoque personal */



/* Reconocimiento */



/* Foto personal */

/* PAGINA CIENCIA */